html,body {
background-color:#FFF;
color:#000;
font-family:'Lucida Grande', Geneva, Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
margin:0 0 10px;
}

td {
color:#000;
font-family:'Lucida Grande', Geneva, Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
}

td.filtered {
color:#000;
font-family:'Lucida Grande', Geneva, Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
}

td.logged-text {
color:#666;
font-family:'Lucida Grande', Geneva, Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
padding-right:5px;
}

a {
font-family:'Lucida Grande', Geneva, Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
color:#036;
text-decoration:none;
}

a.navi {
font-family:'Lucida Grande', Geneva, Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
color:#000;
text-decoration:none;
}

a.head-navi {
font-family:'Lucida Grande', Geneva, Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
color:#333;
text-decoration:none;
}

a.content-read-more {
font-family:'Lucida Grande', Geneva, Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
font-style:oblique;
color:#C00;
text-decoration:none;
}

a.content-read-more:hover {
color:#000;
text-decoration:underline;
}

a.theading {
color:#000;
font-size:12px;
font-family:'Lucida Grande', Geneva, Verdana, Arial, Helvetica, sans-serif;
font-style:normal;
font-weight:400;
text-decoration:none;
}

a.theadingb {
color:#000;
font-size:12px;
font-family:'Lucida Grande', Geneva, Verdana, Arial, Helvetica, sans-serif;
font-style:oblique;
font-weight:400;
text-decoration:none;
}

a.no-link {
color:#000;
font-family:'Lucida Grande', Geneva, Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
text-decoration:none;
}

a.copyright {
font-family:'Lucida Grande', Geneva, Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#666;
text-decoration:underline;
}

a.copyright:hover {
color:#333;
text-decoration:none;
}

a.action {
background-color:#FFC;
font-size:11px;
font-style:normal;
padding:0 4px;
}

form {
display:inline;
}

#display-unsaved-warning {
position:fixed;
top:165px;
left:570px;
width:350px;
filter:alpha(opacity=80);
-moz-opacity:0.8;
opacity:0.8;
z-index:10000;
margin:0;
}

div.display-notice-inline,span.display-notice-inline {
background-color:#FFC;
color:#666;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius: 5px;
border:1px #FC0 solid;
padding:5px;
}

span.display-notice-inline {
margin-left:5px;
}

div.display-map {
width:100%;
height:365px;
border:1px #CCC solid;
margin-bottom:10px;
}

.display-generic,.display-success,.display-notice,.display-error {
line-height:150%;
font-family:'Lucida Grande', Geneva, Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
color:#333;
-moz-border-radius:10px;
-webkit-border-radius:10px;
margin:15px 0;
padding:15px;
}

.display-generic a,.display-success a,.display-notice a,.display-error a {
font-size:12px;
}

.display-success {
background-color:#DEE6E3;
border:1px #A9D392 solid;
}

.display-notice {
background-color:#FFC;
border:1px #FC0 solid;
}

.display-error {
background-color:#FFD9D0;
border:1px #C00 solid;
}

.display-generic {
background-color:#F0F0EE;
border:1px #CCC solid;
}

.display-generic ul,.display-success ul,.display-notice ul,.display-error ul,ul.notify-communities {
list-style-type:none;
margin:0;
padding:4px 10px 10px;
}

.display-generic ul li,.display-success ul li,.display-notice ul li,.display-error ul li {
vertical-align:middle;
padding:0 0 0 18px;
}

.display-success ul li {
background:transparent url(../images/list-success.gif) no-repeat 0 2px;
}

.display-notice ul li {
background:transparent url(../images/list-notice.gif) no-repeat 0 2px;
}

.display-error ul li {
background:transparent url(../images/list-error.gif) no-repeat 0 2px;
}

.display-generic a {
text-decoration: underline;
}

div.container {
position: relative;
}

div.container > div {
position: absolute;
width: 50%;
text-align: left;
}

div.container > div.right {
text-align: right;
}

div.container > div.left {
text-align: left;
}

div.container > div.col-left {
left: 0;
}

div.container > div.col-right {
right: 0;
}

.navi-heading {
font-family:'Lucida Grande', Geneva, Verdana, Arial, Helvetica, sans-serif;
font-size:15px;
color:#000;
}

.head-heading {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:15px;
color:#036;
}

.content-heading {
font-family:'Century Gothic', Helvetica, Arial, sans-serif;
font-size:20px;
font-weight:400;
color:#036;
}

.content-subheading {
font-family:'Lucida Grande', Geneva, Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:700;
color:#036;
}

.content-steps {
font-family:'Lucida Grande', Geneva, Verdana, Arial, Helvetica, sans-serif;
font-size:18px;
color:#666;
}

.content-small,.content-date {
font-family:'Lucida Grande', Geneva, Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-style:normal;
color:#666;
}

.content-red {
font-family:'Lucida Grande', Geneva, Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-style:normal;
color:#C00;
}

.copyright {
font-family:'Lucida Grande', Geneva, Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#666;
}

.inplaceeditor-saving {
background:transparent url(../images/indicator.gif) no-repeat right top;
}

form.inplaceeditor-form a {
margin-left:10px;
}

a.button,button,form.inplaceeditor-form input[type=submit],input[type=button],input[type=submit],input.button-add,input.button-remove,input.button-red,input.button {
color:#000;
font-family:'Lucida Grande', Geneva, Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
width:115px;
height:22px;
border:none;
background:#EEE url(../images/btn_bg.gif);
vertical-align: middle;
}

a.button {
display: block;
text-align: center;
}
a.button:hover {
text-decoration: none;
color:#000;
}

a.button > div {
line-height: 100%;
padding-top: 5px;
}

input[type=checkbox],input[type=radio] {
vertical-align:middle;
border:0;
margin:2px;
padding:0;
}

button.add,input.button-add {
background-image:url(../images/btn_bg_add.gif);
}

button.remove,input.button-remove {
background-image:url(../images/btn_bg_remove.gif);
}

button.red,input.button-red {
background-image:url(../images/btn_bg_red.gif);
}

div.display-map input[type=button],div.display-map input[type=submit],button.small,input.button-sm {
color:#000;
font-family:'Lucida Grande', Geneva, Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
width:57px;
height:20px;
border:none;
background:#EEE url(../images/btn_bg_sm.gif);
}

button.disabled-button,input.disabled-button {
color:#999;
}

select {
background-color:#EEE;
color:#000;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
vertical-align: middle;
}

.select-box {
background-color:#EEE;
color:#000;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
}

.success {
font-family:'Lucida Grande', Geneva, Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:700;
color:#01619B;
text-decoration:blink;
}

.form-required {
vertical-align: middle;
color:#A30000;
}

.form-nrequired {
vertical-align: middle;
color:#2F3032;
}

div.printing-enabled,.yes-printing {
display:none;
}

#screenTabs {
float:left;
width:100%;
background:#FFF url(../images/tabs/bg.gif) repeat-x bottom;
}

#tabs {
float:left;
width:100%;
line-height:normal;
white-space:nowrap;
background:#FFF url(../images/tabs/bg.gif) repeat-x bottom;
}

#tabs ul {
list-style:none;
margin:0;
padding:0 10px 10px;
}

#tabs a {
display:block;
vertical-align:baseline;
text-decoration:none;
color:#000;
width:.1em;
background:transparent url(../images/tabs/right.gif) no-repeat right top;
padding:5px 9px 4px 4px;
}

#tabs > ul a {
width:auto;
}

#tabs a:hover,#tabs a:visited,#tabs a:active {
text-decoration:none;
color:#000;
}

#tabs li {
position:relative;
float:left;
border-bottom:solid 1px #765;
background:transparent url(../images/tabs/left.gif) no-repeat left top;
margin:0;
padding:0 0 0 2px;
}

#tabs li.current {
border-width:0;
}

#tabs .current {
margin-left:-3px;
background-image:url(../images/tabs/left_on.gif);
}

#tabs .current > a {
font-weight:700;
vertical-align:baseline;
background-image:url(../images/tabs/right_on.gif);
padding:3px 9px 7px 6px;
}

#tabs .first {
background-image:url(../images/tabs/left_first.gif);
}

#tabs .last a {
background-image:url(../images/tabs/right_last.gif);
}

#tabs li:hover {
background-position:0 -150px;
cursor:pointer;
}

#tabs li.first:hover {
background-position:top left;
}

#tabs li:hover .drop_options {
display:block;
}

#tabs .drop_options {
left:-1px;
top:24px;
position:absolute;
z-index:999;
font-weight:400;
width:150px;
display:none;
padding:0;
}

#tabs .drop_options li {
background:transparent url(../images/tabs/drop_left.gif) no-repeat left top;
width:150px;
border:0;
padding:0;
}

#tabs .drop_options li a {
background:transparent url(../images/tabs/drop_right.gif) no-repeat right top;
margin-left:3px;
color:#3C3C3C;
font-size:11px;
padding:5px 9px 4px 4px;
width: 134px;
}

#tabs li:hover .drop_options li {
background-position:left top;
}

#tabs li:hover .drop_options li a {
background-position:right top;
}

#tabs li a:hover .drop_options li {
background-position:left top!important;
}

#tabs .drop_options li:hover,#tabs .drop_options li.current {
background-position:0 -150px!important;
}

#tabs .drop_options li:hover a,#tabs .drop_options li.current a {
background-position:100% -150px!important;
}

#tabs .drop_options li.bottom {
background:transparent url(../images/tabs/drop_left_bottom.gif) no-repeat left top;
height:4px;
margin-top:-3px;
width:100%;
}

#tabs .drop_options li.bottom div {
background:transparent url(../images/tabs/drop_right_bottom.gif) no-repeat right top;
height:4px;
margin-left:4px;
display:block;
}

#tabs li:hover iframe {
width:150px;
}

#tabs li#admin_tab {
background-image:url(../images/tabs/red_left.gif) !important;
margin-left:-1px;
}

#tabs li#admin_tab a#admin_tab_link {
background-image:url(../images/tabs/red_right.gif) !important;
padding-left:5px;
}

#tabs li#admin_tab.current {
background-position:0 -150px;
}

#tabs li#admin_tab.current > a {
padding-top:5px;
padding-bottom:5px;
background-position:100% -150px;
}

#tabs li #admin_drop_options li a span {
background:transparent url(../images/list-admin.gif) no-repeat left 1px;
padding-left:16px;
}

#tabs #more_tab > a span,#tabs #admin_tab > a span {
background:transparent url(../images/arrow-asc.gif) no-repeat right 5px;
padding-right:13px;
}

#tabs iframe {
display:block;
position:absolute;
top:0;
left:0;
z-index:-1;
filter:mask();
width:0;
}

span.eventlocation {
cursor:pointer;
float:right;
}

.eventfont {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#FFF;
}

.padd {
padding:4px;
}

.rowOn {
background-color:#CFC;
border-top:1px solid #FFF;
border-left:1px solid #FFF;
padding:2px;
}

.rowOn2 {
background-color:#CFC;
border-top:1px solid #FFF;
padding:2px;
}

.rowToday {
background-color:#CFF;
border-top:1px solid #FFF;
border-left:1px solid #FFF;
padding:2px;
}

.weekborder {
border-top:1px dashed #A1A5A9;
border-left:1px solid #A1A5A9;
}

.timeborder {
font-size:11px;
padding-left:3px;
border-top:1px dashed #A1A5A9;
background-image:url(../images/time_bg.gif);
}

.eventbg_1 {
background-color:#557CA3;
color:#FFF;
font-size:10px;
padding:0;
}

.eventbg2_1 {
background-color:#69C;
color:#888;
border:1px solid #557CA3;
border-right:none;
}

.eventbg_2 {
background-color:#9e9e48;
color:#FFF;
font-size:10px;
padding:0;
}

.eventbg2_2 {
background-color:#FFC;
color:#9e9e48;
border:1px solid #9e9e48;
border-right:none;
}

.eventbg_3 {
background-color:#5F718F;
color:#FFF;
font-size:10px;
padding:0;
}

.eventbg2_3 {
background-color:#E7ECF4;
color:#5F718F;
border:1px solid #5F718F;
border-right:none;
}

.eventbg2_2 a.ps {
color:#9e9e48;
text-decoration:none;
font-size:11px;
}

.eventbg2_3 a.ps {
color:#5F718F;
text-decoration:none;
font-size:11px;
}

.accordion_toggle {
display:block;
height:20px;
width:100%;
background:#EBEBEB;
background-image:url(../images/list-header.gif);
line-height:30px;
text-decoration:none;
outline:none;
font-size:12px;
color:#000;
border-bottom:1px solid #fff;
cursor:pointer;
font-weight:700;
vertical-align:middle;
margin:0;
padding:0 4px 0 2px;
}

.accordion_toggle_active {
background:#036;
background-image:url(../images/list-header-dark.gif);
color:#fff;
border-bottom:1px solid #fff;
}

.accordion_content {
background-color:#fff;
overflow:hidden;
height:20px;
font-size:10px;
padding:5px;
}

.accordion_content h2 {
font-size:15px;
color:#036;
border-bottom:2px #CCC solid;
}

.accordion_content p {
line-height:150%;
font-size:5px;
padding:5px 10px 15px;
}

.vertical_accordion_toggle {
display:block;
height:30px;
width:600px;
background:#95B6D7;
line-height:30px;
font-weight:400;
text-decoration:none;
outline:none;
font-size:12px;
color:#000;
border-bottom:1px solid #fff;
cursor:pointer;
margin:0;
padding:0 10px;
}

.vertical_accordion_toggle_active {
background:#036;
color:#fff;
border-bottom:1px solid #fff;
}

.vertical_accordion_content {
background-color:#fff;
color:#444;
overflow:hidden;
}

.vertical_accordion_content h2 {
color:#09F;
margin:15px 0 5px 10px;
}

.vertical_accordion_content p {
line-height:150%;
padding:5px 10px 15px;
}

.horizontal_accordion_toggle {
float:left;
display:block;
height:100px;
width:30px;
background:url(../images/h_accordion_toggle.jpg) no-repeat top left #a9d06a;
color:#fff;
text-decoration:none;
outline:none;
border-right:1px solid #cde99f;
cursor:pointer;
margin:0;
}

.horizontal_accordion_toggle_active {
background:url(../images/h_accordion_toggle_active.jpg) no-repeat top left #e0542f;
border-right:1px solid #f68263;
}

.horizontal_accordion_content {
height:100px;
float:left;
overflow:hidden;
background-color:#fff;
color:#444;
}

.horizontal_accordion_content p {
width:450px;
line-height:150%;
padding:5px 10px 15px;
}

#horizontal_container {
width:680px;
height:100px;
margin:20px auto;
}

#vertical_nested_container {
width:620px;
margin:20px auto;
}

#pagination-links {
height:20px;
font-size:11px;
color:#999;
}

#pagination-links a {
border:1px #CCC solid;
background-color:#E9E9E9;
color:#333;
font-size:11px;
padding:2px 3px;
}

#pagination-links a:hover {
background-color:#CCC;
color:#000;
}

#pagination-links span.active {
border:1px #999 solid;
background-color:#CCC;
color:#000;
font-size:11px;
padding:2px 3px;
}

textarea {
resize:none;
}

textarea.expandable {
width:100%;
padding:4px;
}

table.sidebar {
width:175px;
}

ul.menu li a {
font-size:10px;
text-decoration:none;
}

ul.menu li.bold a {
font-weight:bold;
}

ul.menu li,ul.menu li.off {
font-size:10px;
padding-bottom:4px;
padding-left:20px;
background:transparent url(../images/checkbox-off.gif) no-repeat;
}

ul.menu li.community {
background:transparent url(../images/list-community.gif) no-repeat;
}

ul.menu li.undergrad {
background:transparent url(../images/legend-undergrad.gif) no-repeat;
}

ul.menu li.postgrad {
background:transparent url(../images/legend-postgrad.gif) no-repeat;
}

ul.menu li.other {
background:transparent url(../images/legend-other.gif) no-repeat;
}

ul.menu li.correct,ul.menu li.checkmark {
background:transparent url(../images/checkbox-checkmark.gif) no-repeat;
}

ul.menu li.link {
background:transparent url(../images/list-link.gif) no-repeat;
}

ul.menu li.item {
background:transparent url(../images/list-item.gif) no-repeat;
}

ul.menu li.admin {
background:transparent url(../images/list-admin.gif) no-repeat;
}

ul.menu li.rss {
background:transparent url(../images/rss-enabled.gif) no-repeat;
}

ul.menu li.status-online {
background:transparent url(../images/list-status-online.gif) no-repeat;
}

ul.menu li.status-away {
background:transparent url(../images/list-status-away.gif) no-repeat;
}

ul.menu li.status-offline {
background:transparent url(../images/list-status-offline.gif) no-repeat;
}

td.inner-content-box-body div {
vertical-align:middle;
padding:1px 0 1px 3px;
}

td.inner-content-box-body img {
float:left;
vertical-align:middle;
border:0;
margin-right:3px;
}

td.inner-content-box-body a {
vertical-align:middle;
font-size:10px;
text-decoration:none;
}

table.quizResults tbody tr td {
vertical-align:top;
border-bottom:1px solid #EBEBEB;
padding:2px 4px 2px 2px;
}

table.quizResults tbody tr td.borderless {
border:0;
}

div.tableListTop {
background-color:#FAFAFA;
border:1px #9D9D9D solid;
border-bottom:none;
-moz-border-radius:10px 10px 0 0;
-webkit-border-radius:10px 10px 0 0;
padding:3px;
}

div.userProfile {
width:100%;
border:1px solid #999;
-moz-border-radius: 0 0 5px 5px;
-webkit-border-radius: 0 0 5px 5px;
border-radius: 0 0 5px 5px;
padding:0;
margin-bottom: 15px;
}

div.userProfile div.head {
height:20px;
text-align: left;
border-bottom:1px solid #999;
color:#333;
font-size:11px;
font-weight:700;
background:#EBEBEB url(../images/list-header.gif);
padding:0;
}

div.userProfile div.head div {
padding:2px 2px 2px 5px;
}

div.userProfile div.body {
padding: 5px;
}

table.tableList {
width:100%;
border-collapse:collapse;
}

table.tableList thead tr td {
height:20px;
vertical-align:middle;
border:1px solid #999;
color:#333;
font-size:11px;
font-weight:700;
background:#EBEBEB url(../images/list-header.gif);
padding:0 4px 0 2px;
}

table.tableList thead tr td.borderl {
border-left:1px solid #999;
}

table.tableList thead tr td.borderr {
border-right:1px solid #999;
}

table.tableList thead tr td.noborder {
border-left:none;
border-right:none;
}

table.tableList thead tr td.sortedASC,table.tableList thead tr td.sortedDESC {
background-image:url(../images/list-header-dark.gif);
}

table.tableList thead tr td a,table.tableList thead tr td a:hover {
display:block;
font-size:11px;
width:auto!important;
color:#333;
text-decoration:none;
}

table.tableList thead tr td {
padding: 0px 2px 0px 3px;
}

table.tableList tbody tr td {
height:24px;
font-size:11px;
overflow:hidden;
white-space:nowrap;
text-overflow:ellipsis;
border-bottom:1px solid #EBEBEB;
padding:2px 4px 2px 2px;
}

table.tableList tbody tr td a {
font-size:11px;	
}

table.tableList tbody tr.user,table.tableList tbody tr.poll,table.tableList tbody tr.notice,table.tableList tbody tr.course,table.tableList tbody tr.event {
font-weight:400;
background-color:#FFF;
}

table.tableList tbody tr.modified,table.tableList tbody tr.flagged {
font-weight:700;
background-color:#FDFEDA;
}

table.tableList tbody tr.list-status {
font-weight:700;
background-color:#FDFEDA;
border-left:none;
}

table.tableList tbody tr.current {
font-weight:700;
background-color:#E7ECF4;
}

table.tableList tbody tr.individual {
background-color:#E7ECF4;
}

table.tableList tr td.modified {
width:20px;
text-align:center;
}

table.tableList tr td.completed {
width:80px;
text-align:center;
border-left:none;
}

table.tableList tr td.list-status {
width:110px;
text-align:center;
border-left:none;
}

table.tableList tr td.date {
width:160px;
border-left:none;
}

table.tableList tr td.date-small {
width:140px;
border-left:none;
}

table.tableList tr td.date-smallest, table.tableList tr td.gradebook {
width:100px;
border-left:none;
}

table.tableList tr td.notices,table.tableList tr td.accesses,table.tableList tr td.phase {
width:50px;
border-left:none;
}
table.tableList tr td.grades {
	width: 40px;
	border-left: none;
}
table.tableList tr td.report-hours {
overflow:hidden;
width:90px;
border-left:none;
padding-left:5px;
}

table.tableList tr td.report-hours.large {
width:150px;
}
table.tableList tr td.region-large {
width:90px;
border-left:none;
overflow:hidden;
}

table.tableList tr td.type,table.tableList tr td.file-category {
overflow:hidden;
width:115px;
border-left:none;
}

table.tableList tr td.region,table.tableList tr td.responses {
width:90px;
border-left:none;
}

table.tableList tr td.title {
overflow:hidden;
border-left:none;
}

table.tableList tr td.attachment {
width:20px;
text-align:center;
border-left:none;
}

div.img-holder {
position:relative;
width:74px;
height:102px;
}

div.img-holder img {
position:absolute;
background-color:#FFF;
border:1px solid #999;
}

div.img-holder img.official {
z-index:6;
}

div.img-holder img.uploaded {
z-index:5;
}

div.img-holder a.zoomin {
opacity:75;
position:absolute;
right:5px;
bottom:5px;
font-size:15px;
z-index:6;
text-decoration:none;
color:#999;
cursor:pointer;
}

div.img-holder a.zoomout {
opacity:75;
position:absolute;
right:-125px;
bottom:-180px;
font-size:32px;
z-index:9;
text-decoration:none;
color:#999;
cursor:pointer;
}

div.img-holder a.img-selector,div.img-holder a.img-selector.one {
position:absolute;
left:5px;
bottom:5px;
font-size:9px;
z-index:6;
text-decoration:none;
color:#999;
border:1px solid #999;
line-height:10px;
padding:0 2px;
}

div.img-holder a.img-selector.two {
left:19px;
}

h1 {
font-family:'Century Gothic', Helvetica, Arial, sans-serif;
font-size:26px;
font-weight:400;
color:#036;
}

h2 {
font-family:'Century Gothic', Helvetica, Arial, sans-serif;
font-size:18px;
color:#036;
border-bottom:2px #CCC solid;
}

h2.rss-title {
background:transparent url(../images/rss-enabled.gif) no-repeat center right;
}

h3 {
font-family:'Century Gothic', Helvetica, Arial, sans-serif;
font-size:13px;
color:#036;
margin:0 0 5px 0;
}

ul.objective-list {
margin: 0;
}

ul.objective-list li {
margin-bottom: 2px;
list-style-type:none;
border-bottom:1px solid #EEEEEE;
border-left:2px solid #CCCCCC;
padding:5px 5px 10px;
}

ul.objective-list li input[type=checkbox] {
vertical-align: middle;
}

ul.objective-list li label.heading, ol.objective-list li span.heading {
color:#036;
font-size:13px;
font-weight:700;
margin:0 0 5px 0;
padding: 0 0 0 8px;
vertical-align: middle;
}

ul.objective-list li.primary {
border-left:5px solid #5A9B36;
background-color:#FFF;
}

ul.objective-list li.secondary {
border-left:5px solid #E5C203;
background-color:#FFF;
}

ul.objective-list li.tertiary {
border-left:5px solid #D3490C;
background-color:#FFF;
}

ol.objective-list {
margin-top: 5px;
}

ol.objective-list li {
padding:0 5px 5px 0;
margin-bottom: 2px;
}

.highlight {
background-color:#FFC;
font-weight:700;
padding-right:3px;
padding-left:3px;
}

.searchTitle {
background-color:#EBECFF;
border-top:1px #339 solid;
width:100%;
margin:0 0 15px;
padding:3px;
}

.section, .subsection {
	clear: both;
	padding: 1ex 0 1ex 1em;
	margin:1ex 0 1ex 1em;
}



div.section-holder {
padding-left:25px;
margin-bottom:25px;
}

div.bread-crumb-trail {
margin-bottom:15px;
border-bottom:1px #9D9D9D dotted;
padding:2px 2px 2px 5px;
}

div.bread-crumb-trail ul {
list-style:none;
list-style-type:none;
margin:0;
padding:4px 0 0;
}

div.bread-crumb-trail ul li {
display:inline;
list-style-type:none;
padding-left:15px;
vertical-align:middle;
background:transparent url(../images/record-next-on.gif) no-repeat center left;
}

ul.unIndentedList {
margin-left:0;
padding-left:0;
}

div.wizard-question {
margin-bottom:10px;
padding:5px;
}

a.small-email {
font-family:'Lucida Grande', Geneva, Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#666;
text-decoration:none;
}

a.small-email:hover {
color:#CCC;
}

div.autocomplete {
position:absolute;
width:250px;
background-color:#FFF;
border:1px solid #888;
z-index:150;
margin:0;
padding:0;
}

div.autocomplete ul {
list-style-type:none;
margin:0;
padding:0;
}

div.autocomplete ul li.selected {
background-color:#FFB;
}

div.autocomplete ul li {
list-style-type:none;
display:block;
height:32px;
cursor:pointer;
margin:0;
padding:2px;
}

div.rss-no-item {
padding:2px;
}

div.rss-item-title {
width:350px;
overflow:hidden;
white-space:nowrap;
padding:2px;
}

ul.rss-list {
	float: left;
	width: 50%;
	padding:0;
	margin:0;
	list-style-type:none;
	height: auto;
	margin-bottom: -2000px; 
	padding-bottom: 2000px;
	min-height: 10px;
}
ul.rss-list li {
	padding:0;
	margin:0;
	list-style-type: none;
}
ul.rss-list li img {
	margin: 0 auto;
}
ul.rss-list.first li {
	margin-right: 10px;
}
div.rss-add {
	padding-top:10px;
	clear:both;
}
#rss-add-details, #rss-edit-details {
	text-align: left;
}
#rss-save-results {
	margin: 2px 0px 2px 10px;
	width: 20px;
	height: 20px;
	overflow: hidden;
}
#dashboard-syndicated-content {
	overflow: hidden;	
}
#dashboard-syndicated-content.editing .feeds.rss {
	color: #000;
}
#dashboard-syndicated-content.editing ul.rss-list li {
	padding: 0px 3px 3px 3px;
	margin: 5px 3px;
	border: 1px #AAA dashed;
	cursor: move;
}

#dashboard-syndicated-content.editing ul.rss-list li .rss-title a {
	width: 340px;
}

a.rss-remove-link {
background: transparent url(../images/feed_delete.png) no-repeat center left;
margin: 10px 0 0 10px;
padding-left: 20px;
height: 16px;
font-weight: 700;
color: #bc4305;
display: none;
}

#dashboard-syndicated-content.editing a.rss-remove-link {
display: block;
}

div.rss-add a.feeds {
}
.rsslist {
width:100%;
display:block;
cursor:pointer;
background:transparent url(../images/arrow-asc.gif) no-repeat center right;
}

.rsslist.expanded {
background:transparent url(../images/arrow-desc.gif) no-repeat center right;
}

div.discussion {
margin-bottom:4px;
border:1px #EEE solid;
background:#FFF url(../images/quote.gif) no-repeat top left;
padding:10px 10px 10px 28px;
}

.dynamic-tab-pane-control .tab-page {
height:auto;
}

.discussion-title {
font-weight:700;
color:#036;
font-size:13px;
}

ul.access-legend:before {
line-height:0.1;
font-size:1px;
height:9px;
display:block;
border-bottom:1px solid #ddd;
background:transparent url(../images/menu_tr.gif) no-repeat top right;
content:url(../images/key-point_tl.gif);
margin:0;
}

ul.access-legend:after {
display:block;
padding-top:0;
line-height:0.1;
font-size:1px;
height:8px;
border-top:1px solid #FFF;
content:url(../images/key-point_bl.gif);
background:transparent url(../images/menu_br.gif) scroll no-repeat bottom right;
margin:0;
}

ul.access-legend,ul.access-legend ul {
list-style:none;
margin:0;
padding:0;
}

ul.access-legend {
margin-bottom:1em;
background:#E0E9E9 url(../images/menu_back.gif) right repeat-y;
}

ul.access-legend li {
display:inline;
margin:0;
padding:0;
}

ul.access-legend li span {
display:block;
font-weight:700;
color:#666;
padding:6px 10px;
}

ul.access-legend li span#configParent,ul.access-legend li span #configuration {
display:inline;
font-weight:400;
padding:0;
}

ul.access-legend li a {
display:block;
text-decoration:none;
background:#EDF2F2;
border-bottom:1px solid #ddd;
border-top:1px solid #fff;
border-right:1px solid #ddd;
padding:8px 10px;
}

ul.access-legend li a:hover {
background:#E0E9E9;
}

ul.access-legend li li span {
padding:4px 8px 4px 20px;
}

ul.access-legend li li a {
padding:6px 8px 6px 20px;
}

.usage-container {
width:400px;
height:20px;
border:1px #036 solid;
background-color:#036;
position:relative;
margin:0;
padding:0;
}

.usage-container div {
background-color:#69C;
}

.usage-container.warning {
border:1px #C90 solid;
background-color:#C93;
}

.usage-container.over {
border:1px #C00 solid;
background-color:#C33;
}

.stats-container {
width:250px;
height:15px;
border:1px #C00 solid;
background-color:#C33;
position:relative;
margin:0;
padding:0;
}

.stats-container.correct {
border:1px #390 solid;
background-color:#6C3;
}

.stats-container.correct div {
background-color:#CFC;
}

ul.navigation {
list-style-type:none;
margin:0;
padding:0;
}

ul.navigation li {
border-left:4px #036 solid;
border-bottom:1px #CCC solid;
font-weight:700;
color:#036;
background:#FFF url(../images/bg-tile.gif);
margin:0;
padding:5px 4px 4px;
}

ul.sub-pages {
list-style-type:none;
margin:0;
padding:0 0 0 3px;
}

ul.sub-pages .selected {
background-color:#CCC;
border-left:2px #666 solid;
}

ul.sub-pages li {
font-weight:400;
background-color:#EEE;
border:none;
border-left:2px #CCC solid;
color:#666;
margin:1px 0 1px 1px;
padding:4px 0 4px 4px;
}

ul.sub-pages li a:hover {
color:#333;
text-decoration:underline;
}

.faculty-list li {
display:inline;
padding:0 14px 0 16px;
}

.faculty-list li.break {
width:15px;
background-image:none;
}

.faculty-list li.up {
background:transparent url(../images/btn_up.gif) no-repeat center left;
}

.faculty-list li.down {
background:transparent url(../images/btn_down.gif) no-repeat center left;
}

.faculty-list li.add {
background:transparent url(../images/btn_add.gif) no-repeat center left;
}

.faculty-list li.remove {
background:transparent url(../images/btn_remove.gif) no-repeat center left;
}

.faculty-list li a {
color:#693;
font-weight:700;
font-size:11px;
}

ul.event-list, ul.general-list {
list-style-type:none;
white-space:nowrap;
margin:0;
padding:0;
}

ul.general-list li {
display:block;
padding:0 14px 0 0;
}

ul.general-list li a {
color:#036;
font-size:12px;
}

ul.event-list li {
margin-bottom:2px;
border-bottom:1px #EEE solid;
padding: 2px 0 4px 0;
}

ul.event-list li:first-child {
padding-top:0;
}

.page-action li {
display:inline;
background:transparent url(../images/btn_add.gif) no-repeat center left;
padding:0 14px 0 16px;
}

.page-action-cancel li {
display:inline;
background:transparent url(../images/btn_cancel.gif) no-repeat center left;
padding:0 14px 0 16px;
}

.page-action-cancel li a {
color:#000;
font-weight:normal;
}

.page-action-edit li {
display:inline;
background:transparent url(../images/btn-edit.gif) no-repeat center left;
padding:0 14px 0 16px;
}

.page-action-edit li a {
color:#333;
padding-left:5px;
font-weight:700;
}

.page-action li a {
color:#693;
font-weight:700;
}

.csv-action li {
display:inline;
background:transparent url(../images/btn-stats.gif) no-repeat center left;
padding:0 14px 0 16px;
}

.csv-action li a {
font-weight:700;
}

.page-action li.top {
display:inline;
background:transparent url(../images/list-anchor.gif) no-repeat center left;
font-size:10px;
font-weight:400;
padding:0 16px;
}

.page-action li.top a {
color:#369;
font-size:10px;
font-weight:400;
}

table.tableList tbody tr.closed td a {
color:#CCC;
font-size:11px;
}

ul.assistant-list {
list-style-type:none;
margin:0 0 10px;
padding:0;
}

ul.assistant-list li {
background:transparent url(../images/list-community.gif) no-repeat scroll 0 0;
}

ul.assistant-list li a {
font-size:10px;
padding-left:20px;
}

table.member-list tr td {
font-size:10px;
background:transparent url(../images/list-community.gif) no-repeat scroll center left;
padding:4px 4px 2px 14px;
}

.radio-group-title {
color:#036;
font-size:14px;
font-weight:400;
cursor:pointer;
}

table.address-info tr td {
font-size:10px;
color:#666;
line-height:1em;
}

.img-holder a.selected {
background-color:#666;
}

.img-holder a.not-selected {
background-color:transparent;
cursor:pointer;
}

.clear {
clear:both;
}

div.quiz-questions ol.questions li {
position:relative;
margin-bottom:1px;
}

div.quiz-questions ol.questions li div.question {
vertical-align:middle;
cursor:move;
border-top:1px #EEE solid;
padding:8px;
}

div.quiz-questions ol.questions li div.question img.question-controls {
border:0;
width:16px;
height:16px;
vertical-align:middle;
cursor:pointer;
}

div.quiz-questions ol.questions li div.question span.question {
margin-left:8px;
vertical-align:middle;
}

div.quiz-questions ol.questions li.question {
padding-bottom:5px;
}

div.quiz-questions ul.responses {
margin:0 0 8px 25px;
}

div.quiz-questions li {
vertical-align: top;
}

div.quiz-questions ul.responses li {
border:0;
margin-bottom:5px;
list-style-type:none;
padding:0 5px;
vertical-align: top;
}

div.quiz-questions ul.responses li.display-correct,
div.quiz-questions ul.responses li.correct {
list-style-image:url(../images/question-correct.gif);
}

div.quiz-questions ul.responses li.display-incorrect,
div.quiz-questions ul.responses li.incorrect {
list-style-image:url(../images/question-incorrect.gif);
}

div.quiz-questions ul.responses li.selected {
font-weight:700;
list-style-image:url(../images/record-next-on.gif);
border-top:1px #CCC solid;
border-bottom:1px #CCC solid;
background-color:#F0F0F0;
}

div.quiz-questions ul.responses li.selected.correct {
border-top:1px #A9D392 solid;
border-bottom:1px #A9D392 solid;
background-color:#DEE6E3;
}

div.quiz-questions ul.responses li.selected.incorrect {
border-top:1px #C00 solid;
border-bottom:1px #C00 solid;
background-color:#FFD9D0;
}

div.quiz-questions ul.responses li.selected img.question-response-indicator {
position:absolute;
top:-7px;
right:-3px;
width:27px;
height:27px;
border:0;
}

div.quiz-questions ul.responses li input[type=radio] {
vertical-align:middle;
}

div.quiz-questions ul.responses li label {
margin-left:5px;
vertical-align:middle;
}

#control_overlay {
background-color:#000;
}

.modal {  
background-color:#FFF;
padding:20px;
border:1px solid #333;
-moz-border-radius:10px;
-webkit-border-radius:10px;
border-radius:10px;
}

.modal-confirmation {
position:relative;
width:450px;
height:225px;
background-color:#FFF;
-moz-border-radius:10px;
-webkit-border-radius:10px;
border-radius:10px;
padding:20px;
}

.modal-description {
position:relative;
width:450px;
background-color:#FFF;
-moz-border-radius:10px;
-webkit-border-radius:10px;
border-radius:10px;
padding:0 20px 20px 20px;
}

.modal-description div.body {
height:55px;
overflow:auto;
margin:8px 0;
}

.modal-confirmation div.body {
height:105px;
overflow:auto;
margin:8px 0;
}

.modal-confirmation div.content, .modal-description div.content {
background-color:#FFC;
border:1px #FC0 solid;
color:#333;
font-family:'Lucida Grande', Geneva, Verdana, Arial, Helvetica, sans-serif;
-moz-border-radius:10px;
-webkit-border-radius:10px;
margin:0;
padding:15px;
}

.modal-confirmation div.footer, .modal-description div.footer {
position:absolute;
bottom:0;
left:0;
width:100%;
height:40px;
border-top:2px #CCC solid;
background-color:#FFF;
-moz-border-radius:0 0 10px 10px;
-webkit-border-radius:0 0 10px 10px;
}

.modal-confirmation div.footer button.left {
position:absolute;
top: 8px;
left: 10px;
}

.modal-confirmation div.footer button.right {
position:absolute;
top: 8px;
right: 10px;
}

.tooltip {
border:1px solid #CCCCCC;
background-color:#FFFFFF;
width:653px;
font-family:'Lucida Grande',Verdana;
font-size:12px;
color:#333;
padding: 5px 5px 2px 5px;
}

.select_multiple_area_container {
position:relative;
}

.select_multiple_submit {
background-image:top center;
background-repeat:repeat-x;
text-align:right;
position:relative;
height:20px;
padding:5px 10px;
}

.inline .select_multiple_submit {
border-bottom:1px solid #999;
text-align:left;
}

.fleft,.select_multiple_filter {
float:left;
}

.fright,.select_multiple_filter.ajax {
float:right;
}

.select_multiple_filter input {
width:130px;
background-color:#FFF;
background-image:url(../images/delete.x.gif);
background-repeat:no-repeat;
background-position:114px 3px;
margin-right:18px;
z-index:0;
}

.select_filter_clear {
width:19px;
height:19px;
position:absolute;
top:6px;
left:126px;
z-index:99;
}

.inline .select_filter_clear {
right:31px;
left:auto;
}

.select_multiple_label {
margin-left:5px;
font-family:"Lucida Grande",Verdana;
font-size:11px;
}

.select_multiple_container {
position:absolute;
top:0;
left:0;
z-index:500;
border:1px solid #999;
background-color:#FFF;
}

.select_multiple_container.inline {
position:static;
}

.select_multiple_container .select_multiple_header {
height:20px;
line-height:20px;
border-bottom:1px solid #999;
color:#333;
background-color:#EBEBEB;
font-size:11px;
font-weight:700;
background-image:url(../images/list-header.gif);
padding:0 4px 0 2px;
}

div.select_multiple_scroll {
overflow-y:auto;
overflow-x:hidden;
height:250px;
}

table.select_multiple_table td {
border-bottom:1px solid #DDD;
color:#333;
font-family:"Lucida Grande", Verdana;
font-size:11px;
height:20px;
vertical-align:top;
padding:4px 0;
}

table.select_multiple_table td.indent_0 {
padding-left:10px;
}

table.select_multiple_table td.indent_2 {
padding-left:30px;
}

table.select_multiple_table td.indent_3 {
padding-left:40px;
}

table.select_multiple_table td.indent_4 {
padding-left:50px;
}

table.select_multiple_table td.indent_5 {
padding-left:60px;
}

table.select_multiple_table td.select_filter {
height:30px;
text-align:center;
}

table.select_multiple_table tr.category {
background-color:#F7F7F7;
font-weight:700;
}

table.select_multiple_table tr.even {
background-color:#FCFCFC;
}

table.select_multiple_table tr.odd {
background-color:#F7F7F7;
}

table.select_multiple_table tr.selected {
background-image:none;
background-color:#D9E9FE;
font-weight:700;
}

.select_multiple_checkbox input,.select_multiple_checkbox_category input {
margin-right:15px;
}

div.grippie {
background:#EEE url(../images/grippie.png) no-repeat scroll center 2px;
cursor:s-resize;
height:9px;
overflow:hidden;
border-color:#DDD;
border-style:solid;
border-width:0 1px 1px;
}

#filter_edit .select_multiple_container {
top:-3px;
left:78px;
}

table.tableList tbody tr.in_draft {
background-color:#FDFEDA;
}

table.tableList tbody tr.published {
background-color:#DEE6E3;
}

table.select_multiple_table tr.category td.description {
padding-left:0;
}

table.select_multiple_table tr.disabled label {
color:#666;
}

table.select_multiple_table tr.disabled input {
disabled:disabled;
}

div.select_multiple_container {
z-index:1500;
}

td.objectives li.primary {
border-left:5px solid #5A9B36;
background-color:#FFF;
}

td.objectives li.secondary {
border-left:5px solid #E5C203;
background-color:#FFF;
}

td.objectives li.tertiary {
border-left:5px solid #D3490C;
background-color:#FFF;
}

textarea.objective {
width:70%;
margin-left:25px;
}

ol.curriculum-layout {
list-style-type:none;
padding-left:5px;
}

ol.curriculum-layout > li {
padding-bottom:15px;
}

img.list-cancel-image {
cursor:pointer;
width:11px;
height:11px;
position:absolute;
right:10px;
}

a:hover,a.navi:hover {
color:#C03;
text-decoration:underline;
}

a.head-navi:hover,a.no-link:hover {
color:#666;
text-decoration:none;
}

a.theading:hover,a.theadingb:hover {
color:#C00;
text-decoration:none;
}

.bold,span.response_feedback_term.correctly,#tabs li.tab_bold,ul#director_list li:first-child {
font-weight:700;
}

.display-generic h3,.display-success h3,.display-notice h3,.display-error h3,h1.event-title,.modal-confirmation h1,.modal-confirmation h2 {
margin-top:0;
}

#tabs .first.current,#tabs .drop_options li.current {
margin-left:0;
}

#tabs li:hover a,#tabs a:hover {
background-position:100% -150px;
}

.rowOff,.rowOff2 {
background-color:#E1E8F1;
border-top:1px solid #FFF;
border-left:1px solid #FFF;
padding:2px;
}

a.ps,.eventbg2_1 a.ps {
color:#FFF;
text-decoration:none;
font-size:11px;
}

a.ps:hover,.eventbg2_1 a.ps:hover,.eventbg2_2 a.ps:hover,.eventbg2_3 a.ps:hover {
text-decoration:underline;
}

table.quiz-question,table.inner-content-box,table.member-list {
width:100%;
}

table.quiz-question tbody tr td,table.profile-card tr td {
vertical-align:top;
}

td.sidebar-head,td.inner-content-box-head {
height:20px;
vertical-align:middle;
border:1px solid #999;
color:#333;
background-color:#EBEBEB;
font-size:11px;
font-weight:700;
background-image:url(../images/list-header.gif);
padding:0 4px 0 2px;
}

td.sidebar-body,td.inner-content-box-body {
height:16px!important;
font-size:11px;
overflow:hidden;
text-overflow:ellipsis;
border:1px solid #999;
border-top:none;
padding:5px;
}

ul.menu,td.inner-content-box-body ul {
list-style-type:none;
margin:0 0 10px;
padding:4px 0 0;
}

ul.menu li.incorrect,ul.menu li.on,td.inner-content-box-body ul li {
font-size:10px;
padding-bottom:4px;
padding-left:20px;
background:transparent url(../images/checkbox-on.gif) no-repeat;
}

table.quizResults,table.tableList {
width:100%;
display:table;
table-layout:fixed;
}

table.quizResults col,table.tableList col {
display:table-column;
text-align:left;
}

table.quizResults tbody tr td.center,table.tableList thead tr td.accesses,tbody td.severity,.centre,.center {
text-align:center;
}

table.quizResults tbody tr td.right,.select_multiple_checkbox,.select_multiple_checkbox_category {
text-align:right;
}

table.quizResults tbody tr td.left,thead td.severity {
text-align:left;
}

table.tableList thead tr td.sortedASC .noLink,table.tableList thead tr td.sortedASC a {
background:transparent url(../images/sort_asc.gif) top right no-repeat;
}

table.tableList thead tr td.sortedDESC a,table.tableList thead tr td.sortedDESC .noLink {
background:transparent url(../images/sort_desc.gif) top right no-repeat;
}

table.tableList tbody tr.odd,table.tableList tbody tr.disabled,table.tableList tbody tr.np {
background-color:#F0F0F0;
}

table.tableList tbody tr.na,.usage-container.over div,.stats-container div,table.tableList tbody tr.rejected {
background-color:#FFD9D0;
}

table.tableList tbody tr.disabled td a,table.tableList tbody tr td.disabled a,table.tableList tbody tr td.disabled,table.tableList tr td.np a,table.tableList tr td.np {
font-size:11px;
color:#999;
}

table.tableList tbody tr td.report-hours,.select_multiple_name {
padding-left:15px;
}

table.tableList tr td.general,table.tableList tr td.filetype,table.tableList tr td.filesize,table.tableList tr td.teacher,table.tableList tr td.CP,table.tableList tr td.ED10,table.tableList tr td.ED11,table.tableList tr td.Event {
width:135px;
border-left:none;
}

.usage-container.warning div,div.quiz-questions ol.questions li.notice,div.quiz-questions ol.questions li.marked {
background-color:#FFC;
}

ul.navigation li a,ul.sub-pages li a {
color:#666;
text-decoration:none;
font-size:11px;
}

select.multi-picklist,.PickList,.SelectList {
background-color:#FFF;
width:95%;
}

select.multi-picklist option,.PickList option,.SelectList option {
background-color:#FFF;
border-bottom:1px #EEE solid;
color:#666;
overflow:hidden;
margin:0;
padding:4px;
}

select.multi-picklist option.first,#CDirPickList option:first-child {
border-bottom:1px #A9D392 solid;
}

ul.faculty-list,ul.page-action {
list-style-type:none;
white-space:nowrap;
margin:0;
padding:4px 0 0;
}

.pointer,table.select_multiple_table label {
cursor:pointer;
}

.collapsable {
cursor:pointer;
}

.collapsable.expanded:before {
float: right;
content: url(../images/minus.gif);
clear: both;
}

.collapsable.collapsed {
color: #CCC;
}

.collapsable.collapsed:before {
float: right;
content: url(../images/plus.gif);
clear: both;
}

div.quiz-questions ol.questions li div.question.noneditable,table.select_multiple_table td.select_multiple_name_category label {
cursor:auto;
}

table.select_multiple_table td.indent_1,table.select_multiple_table td.description {
padding-left:20px;
}

table.select_multiple_table tr.primary {
background-color:#5A9B36;
}

table.select_multiple_table tr.secondary {
background-color:#E5C203;
}
table.select_multiple_table tr.tertiary {
background-color:#D3490C;
}

div#associated_faculty_list ul.menu li.community,div#associated_student_list ul.menu li.community,div#associated_director_list ul.menu li.community,div#associated_coordinator_list ul.menu li.community {
cursor:move;
}

ul#faculty_list,ul#student_list,ul#director_list,ul#coordinator_list, ul#individual_list {
width:250px;
overflow:none;
position:relative;
}

ul.notify-communities li {
padding-top: 20px;
}

ul.notifications {
list-style-type:none;
margin:0;
padding:4px 10px 10px;
}

ul.notifications li {
padding-top: 2px;
font-size: 11px;
color: #666666;
}

table.tableList.objectives, table.tableList.procedures {
width: 95%;
margin-bottom: 25px;
}

table.tableList.objectives tbody tr td, table.tableList.procedures tbody tr td {
padding: 6px 0px 6px 3px;
}

table.tableList.objectives tfoot tr td, table.tableList.procedures tfoot tr td {
padding: 6px 0px 0px 3px;
}

tr.entry-log td a {
font-size: 11px;
}

div.print-only {
display: none;
}

div.wc-container {
border: 1px #CCC solid;
}

div.wc-updated-event {
margin-top: 5px;
}

img.wc-prev, img.wc-next, img.wc-today {
cursor: pointer
}

table.tableList tr.details td {
vertical-align:top;
white-space:normal;
overflow:visible;
border:0px;
}

ul li.logbook-entry {
margin:8px 15px 0px 0px;
text-align: center;
}

a.logbook-entry {
cursor:pointer;
}

ul li.flagged {
background-color:#FFD9D0;
}

a.selected-entry {
font-weight: 700;
}

ul.encounter-list {
list-style:none;
padding:0px;
margin: 0px;
}
 
ul.sortableList, ol.sortableList {
	padding-left: 0px;
}
.sortableList li {
	font-size: 10px;
	padding: 10px 3px 5px 8px;
	height: 16px;
	list-style-type: none;
	width: 380px;
	border-bottom: 1px #CCC solid;
	cursor: move;
}
.sortableList li a.remove {
	float: right;
	display: block;
}
.sortableList li a.remove img {
	border: 0px;
}
.duration_segment_container {
	float: right;
	margin-right: 20px;
	margin-top: -6px;
}
input.duration_segment {
	width: 25px;
}

#eventToolTip, #eventToolTip table tr td {
color: #333;
font-size: 11px;
}

#eventToolTip a, div.qtip-title a {
font-size: 11px
}

#eventToolTip div.colLeft {
float: left;
width: 66%;
}

#eventToolTip div.colRight {
float: right;
width: 34%;
}

a.feeds {
font-size:11px;
color:#A7A7A7;
text-decoration:none;
padding:2px 10px 2px 17px;
}
a.feeds:hover {
text-decoration: underline;
}
a.feeds.rss {
background:transparent url(../images/rss-enabled.gif) no-repeat center left;
}

a.feeds.edit-rss {
background:transparent url(../images/feed_edit.png) no-repeat center left;
}

a.feeds.add-rss {
background:transparent url(../images/feed_add.png) no-repeat center left;
}

a.feeds.ics {
background:transparent url(../images/ics-enabled.gif) no-repeat center left;
}

li.stream {
cursor: move;
border-bottom: 1px solid #EBEBEB;
margin: 0px 0px 10px 0px;
padding-bottom: 10px;
vertical-align:top;
}

li.clerkship-department {
margin: 0px 0px 10px 0px;
}

ul.objectives-list {
	margin-top: 0px;
	padding-left: 0px;
}
.objectives-list li {
	list-style-type: none;
}
div.objective-container {
	border-bottom: 1px solid #CCC;
	padding: 4px 0;
}
.objectives-list li span.next {
	padding-left: 10px;
}
#objectivelists > li > div {
	font-weight: bold;
}
#objectivelists .drop_hover {
	background: url(../images/drag.png) no-repeat bottom left;
}

ul.objectives-list ul span.delete {
	padding-right: 25px;
}
ul.objectives-list ul ul span.delete {
	padding-right: 50px;
}
ul.objectives-list ul ul ul span.delete {
	padding-right: 75px;
}
ul.objectives-list ul ul ul ul span.delete {
	padding-right: 100px;
}
ul.objectives-list ul ul ul ul ul span.delete {
	padding-right: 125px;
}
ul.objectives-list ul ul ul ul ul ul span.delete {
	padding-right: 150px;
}
ul.objectives-list ul ul ul ul ul ul ul span.delete {
	padding-right: 175px;
}
ul.objectives-list ul ul ul ul ul ul ul  ul span.delete {
	padding-right: 200px;
}
div.course-spacer {
	width: 24px;
	float: left;
}
a.objective-expand {
	cursor: pointer;
}

table.mspr_table {
	width:100%;	
}

table.studentships td.title {
	text-align:left;
}

table.studentships td.year, table.studentships td.controls {
	text-align:right;
}

table.manage_awards tr.disabled td {
	color:#999999;
}
	
table.manage_awards td.title {
	vertical-align: top;
}

table.manage_awards td.award_terms {
	white-space:normal;
}

table.manage_awards tr.disabled td.award_terms {
	white-space:nowrap;
}

table.manage_awards tbody tr td {
	padding-top: 7px !important;
	padding-bottom: 7px !important;
}

.mspr_form {
	width: 100%;
}

table.mspr_table tbody tr td, table.obs_table tbody tr td {
	white-space:normal;
	vertical-align:top;
	padding-top: 5px;
}

table.mspr_table tr.unapproved {
	background-color:#F0F0F0;
}

table.mspr_table tr.unapproved td {
	color:#999999;
}
#gradebook_grades, #gradebook_stats {
	float: left;
}
#gradebook_grades {
	margin-right: 10px;
}
#gradebook_stats {
	width: 300px;
}
#gradebook_stats h2, #gradebook_grades h2 {
	margin-top: 0px;
}
.gradebook_edit {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	background: #FFFFFF;
	overflow: scroll;
}
#filter_grad_year {
	padding: 0px;
	margin: 0px;
}
.gradebook_edit_close {
	background: url(../images/action-delete.gif) no-repeat top left;
}
.gradebook_edit_add {
	background: url(../images/add.png) no-repeat top left;
}

.mspr-tree .collapsable.expanded:before {
float: left !important; 
content: url(../images/minus.gif);
clear: both;
margin: 0 1em 0 0;
}

.mspr-tree .collapsable.collapsed {
color: #9ac;
}

.mspr-tree .collapsable.collapsed:before {
float: left !important;
content: url(../images/plus.gif);
clear: both;
margin: 0 1em 0 0;
}

.mspr-tree .section > div {
	margin-left: 3em;
}

.mspr-tree h2 {
	margin: 2ex 0 0 0;
}

.handle {
	cursor:pointer;
}

.priority-list .entry .handle {
	position:absolute;
	left: 5px;
	top: 0;
	height: 100%;
	vertical-align:middle;
	width:20px;
	background-image: url(../images/arrow_up_down.png);
	background-repeat:no-repeat;
	background-position: center 5px;
	display:inline-block;
}

.priority-list .entry .label {
	padding-left: 25px;
}

.entry .handle img {
	display:none;
}

.mspr-list {
	padding: 0;
}

.mspr-list > * {
	list-style-type:none;
	margin: 1ex 0;
	padding:1%;
}

.mspr-list .entry {
	border-bottom: 1px solid darkgray;
	background-color:WhiteSmoke;
	position:relative;
}

.mspr-list .entry.unapproved {
	background-color:FloralWhite;
}

.mspr-list .entry.rejected {
	background-color:MistyRose;
}

.mspr-list .entry .label {
	display:inline-block;
	margin: 0.5ex 0;
	width: 18%;
	vertical-align:top;
}
.mspr-list .entry .label + * {
	display:inline-block;
	margin: 0.5ex 20% 0.5ex 0;
	width:45%;
	vertical-align:top;
}

.mspr-list .entry > .controls {
	position:absolute;
	top:10px;
	bottom: 10px;
	right:10px;
}
.mspr-list .entry .data {
}

.mspr-list .entry .heading {
	font-weight:bold;
}

.attention-required {
	background-color: FloralWhite;
}

#mspr-class-list .attention-not-required {
	display:none;
}

#mspr-class-list.show-all .attention-not-required {
	display:table-row;
}

.revision-list li {
	margin-bottom:1ex;
}

.revision-list img, .display-notice img, .tableList img {
	border:0;
	vertical-align:middle;
}

.clearfix {
	clear:both;
	line-height:0;
	height:0;
	max-height:0;
}

.file-block {
	background-color:white;
	padding:1ex;
}

.edit-block {
	background-color:white;
	padding:1ex;
	border-left:solid 1px black;
}

.last-update {
	margin-top:1ex;
	display:block;
	font-size:0.85em;
}

ul.objectives {
padding-left: 10px;
}

ul.objectives li {
white-space:nowrap;
overflow:hidden;
font-size:11px;
text-decoration:none;
line-height:135%;
padding:1px;
}

ul.objectives li {
padding-bottom:4px;
padding-left:17px;
background:transparent url(../images/list-objective.gif) no-repeat 0 3px;
}

#task-list ul {
	margin:0;
	padding:0;
	width:160px;
}

#task-list ul li {
	list-style-type:none;
	padding-bottom:10px;
	padding-left:7px;
	width:160px;
}

#task-list li a {
	white-space:nowrap;
	overflow:hidden;
}
#task-list li span {
	display:block;
	text-align:right;
}

#task-list .see-all {
	display:block;
	text-align:center;
	border-top:1px solid #EBEBEB;
	padding-top:3px;
}

#task_verify_form {
	margin: 3ex 0;
	display:block;
}

.success_task .task_title {
	font-weight:bold;
}

#task_details {
	width:100%;
}

.mspr-list .entry .item-status {
	margin-top:2ex;
}
