.dynamic-tab-pane-control.tab-pane {
position:relative;
width:100%;
}

.dynamic-tab-pane-control .tab-row .tab {
display:inline;
float:left;
background:#f4f4f4;
border:1px solid;
border-bottom:0;
cursor:pointer;
z-index:1;
position:relative;
top:0;
border-color:#DDD;
margin-right:6px;
margin-bottom:0;
padding:3px 18px;
-moz-border-radius:4px 4px 0 0;
-webkit-border-radius:4px 4px 0 0;
border-radius:4px 4px 0 0;
}

.dynamic-tab-pane-control .tab-row .tab.selected {
border:1px solid #CCC;
border-bottom:0;
z-index:3;
top:-1px;
background:#FFF;
padding:2px 16px 5px;
}

.dynamic-tab-pane-control .tab-row .tab .error,.dynamic-tab-pane-control .tab-row .tab.selected .error {
background-color:#FFD9D0;
}

.dynamic-tab-pane-control .tab-row .tab a {
font-weight:400;
color:#333;
text-decoration:none;
cursor:pointer;
  text-shadow:1px 1px 0 rgba(255,255,255,0.75);
}

.dynamic-tab-pane-control .tab-row .hover a {
color:#666;
}

.dynamic-tab-pane-control .tab-row .tab.selected a {
color:#036;
}

.dynamic-tab-pane-control .tab-page {
clear:both;
border:1px solid #CCC;
background:#FFF;
z-index:2;
position:relative;
top:-2px;
width:97%;
height:150px;
min-height:150px;
height:auto !important;
/*height:350px;*/
overflow:auto;
overflow-x:hidden;
overflow-y:auto;
padding:15px 10px 10px;
}

.dynamic-tab-pane-control .tab-page.members {
height:auto;
overflow:auto;
}

.dynamic-tab-pane-control .tab-row {
z-index:1;
white-space:nowrap;
background:#FFF;
height:1.85em;
width:100%;
}