div.entrada-header {
height:104px;
background:url(../images/header-bg1.jpg) no-repeat left top;
}

.tail-top {
background:url(../images/tail-top.gif) left top repeat-x #FFF;
margin-bottom:10px;
}

.tail-bottom {
background:url(../images/tail-bottom.gif) left bottom repeat-x;
}

#system-sidebar {
float:left;
width:20%;
}

#system-sidebar > div {
padding:5px;
}

#system-content {
float:left;
width:80%;
}

#system-content > div {
padding:0 0 5px 5px;
}