<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
       Remove this if you use the .htaccess  -->
  <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> // Remove the comment for this line if you don't care too much about validation --> 

  <title>Meeting Module</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="css/ie.css">
  <link rel="stylesheet" href="css/screen.css">

  <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
  <script src="js/libs/modernizr-1.7.min.js"></script>

  

</head>

<body>

  <div class="container">
    <header class="page-header">
		<div class="span-24 page-header-title">
			<hgroup class="span-6 left-space">
				<!--<div class="logo-title append-1 left-space">-->
					<h1>School <em>of</em> Medicine</h1>
					<h2>Faculty <em>of</em> Health Sciences</h2>
				<!--</div>-->
			</hgroup>
			<h3 class="module-name prepend-1">Meeting&nbsp;Module</h3>	
		</div> <!-- ./end page-header-title -->
		<nav class="span-24 top-navigation">
			<ul class="span-24 navigation-list">
				<li class="home"><a href="index.html"><img src="images/home.png" alt="go-to-homepage"/></a></li>
				<li><a href="index.html">Announcements</a><span class="arrow-down">&#9660;</span>
					<ul class="submenu">
						<li><a href="index.html">Subitem1 test</a></li>
						<li><a href="index.html">Subitem2</a></li>
						<li><a href="index.html">Subitem3 document</a></li>
						<li><a href="index.html">Subitem4 page-name</a></li>
					</ul>
				</li>
				<li><a href="index.html">Discussion</a></li>
				<li><a href="index.html">Document Sharing</a></li>
				<li><a href="index.html">Events</a></li>
				<li><a href="index.html">Galleries</a></li>
				<li><a href="index.html">Polling</a></li>
				<li><a href="index.html">Quizzes</a></li>
			</ul>
		</nav>
		<nav class="breadcrumb span-24">	
				<ul class="left-space">
					<li><a href="">Home</a><span class="breadcrumb-arrow"> &#187; </span></li><li><a href="#" class="current-page-nav">Members</a></li>
				</ul>	
		</nav>
    </header>
    <div id="main" role="main" class="span-24">
	<p class="span-24 toggle"><a href="#" class="toggle-panel"></a></p>
	<aside class="span-5 left-nav">
			<section>
			<div class="panel-content">
				<h1>Admin Center</h1>
				<ul>
					<li><a href="#">Manage Community</a></li>
					<li><a href="#">Manage Members</a></li>
					<li><a href="#">Manage Pages</a></li>
				</ul>
						</div>
			</section>
	
		</aside>
		<section class="span-18 left-space content">
			<div class="welcome-message">
			<h1>Welcome to the Meeting Module</h1>
				<p>Lorem Ipsum is simply dummy <a href="#">text</a> of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			</div>
			<section>
				<h2 class="history">Community History</h2>
					<ul class="history-list">
						<li>A new <a href="#">page</a> ( Spring Announcements )  has been created.</li>
						<li>Homepage has been updated.</li>
						<li>Homepage has been updated.</li>
						<li>Homepage has been updated.</li>
						<li>Homepage has been updated.</li>
						<li>A new <a href="#">page</a> ( Fall Announcements )  has been created.</li>
					</ul>
			</section>	
		</section>
		<aside class="span-5 last right-nav collapsed">
			<section>
			<div class="panel-content">
				<h1>Admin Center</h1>
				<ul>
					<li><a href="#">Manage Community</a></li>
					<li><a href="#">Manage Members</a></li>
					<li><a href="#">Manage Pages</a></li>
				</ul>
			</div>
			</section>
			<section>
				<div class="panel-content">
				<h1>Entrada</h1>
				<ul>
					<li><a href="#">Dashboard</a></li>
					<li><a href="#">Communities</a></li>
					<li><a href="#">Courses</a></li>
					<li><a href="#">Learning Events</a></li>
					<li><a href="#">Curriculum Search</a></li>
					<li><a href="#">People Search</a></li>
					<li><a href="#">Library</a></li>
					<li><a href="#">Log Out</a></li>
				</ul>
				</div>
			</section>
			<section class="panel-header-darken community-panel">
				<div class="panel-content">
					<h1>This Community</h1>
						<p class="membership quiet">My membership</p>
						<a href="#" class="user-connected">System Administrator</a>
						<span class="small join-date">Joined at 2011-06-17</span>
						<a href="#" class="all-members">View all members</a>
						<p class="quit"><a href="#" class="quiet">Quit this community</a></p>
					</div>
			</section>
	</aside>
    </div>
    <footer class="span-24">
		<p>Queens University. School of Medicine. All rights reserved &ndash; 2011 &ndash;</p>
    </footer>
  </div> <!--! end of #container -->


  <!-- JavaScript at the bottom for fast page loading -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
	  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"></script>
  <script src="js/script.js"></script>
  <!-- end scripts-->


  <!--[if lt IE 7 ]>
    <script src="js/libs/dd_belatedpng.js"></script>
    <script>DD_belatedPNG.fix("img, .png_bg"); // Fix any <img> or .png_bg bg-images. Also, please read goo.gl/mZiyb </script>
  <![endif]-->

</body>
</html>