<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>QMed.ca</title>

		<meta name="keywords" content="" />
		<meta name="description" content="" />

		<meta name="robots" content="index,follow" />

		<meta http-equiv="pics-label" content='(pics-1.1 "http://www.icra.org/ratingsv02.html" comment "ICRAonline EN v2.0" l gen true for "http://www.qmed.ca" r (nz 1 vz 1 lz 1 oz 1 cz 1) "http://www.rsac.org/ratingsv01.html" l gen true for "http://www.qmed.ca" r (n 0 s 0 v 0 l 0))' />

		<link rel="shortcut icon" href="favicon.ico" />
		<link rel="icon" href="favicon.ico" type="image/x-icon" />

		<link rel="P3Pv1" href="w3c/p3p.xml">


		<link href="css/blueprint/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
		<link href="css/blueprint/print.css" media="print" rel="stylesheet" type="text/css" />
		<link href="css/blueprint/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />

		<link href="css/jquery/jquery-ui.css" media="screen" rel="stylesheet" type="text/css" />

		<link href="css/qmed.css" media="screen" rel="stylesheet" type="text/css" />

		<link href="http://meds.queensu.ca/courses/community/feeds/qmed/rss" rel="alternate" type="application/rss+xml" title="QMed.ca News and Updates" />

		<script type="text/javascript" src="javascript/jquery/jquery.min.js"></script>
		<script type="text/javascript" src="javascript/jquery/jquery-ui.min.js"></script>
		<script type="text/javascript" src="javascript/jquery/jquery.equalheights.js"></script>
		<script type="text/javascript" src="javascript/jquery/jquery.corner.js"></script>

		<script type="text/javascript">
		$(function() {
//			$('button, input:submit').button();
			$(".qmed-body").equalHeights(602);
			$(".news-item").corner('tr bl br');

		});
		</script>
	</head>
	<body>
		<div id="qmed-website" class="container">
			<div id="qmed-search-bar" class="span-12 last">
				<div style="margin-right: 4px">
					<form action="#" method="get" id="search-form">
						<input type="text" name="q" id="search-query" value="" />
						<input type="submit" value="Search" />
					</form>
				</div>
			</div>
			<div id="qmed-header" class="span-12 last">
				<img src="images/bg-qmed-header.jpg" width="972" height="248" alt="QMed.ca Heading Image" title="" />
				
				<img id="ribbon-left" src="images/ribbon-left.png" width="201" height="136" alt="" title="" />
				<img id="ribbon-right" src="images/ribbon-right.png" width="133" height="258" alt="" title="" />
			</div>

			<div id="qmed-navigation" class="span-3 qmed-body">
				<img src="images/navigation-hr-top.png" width="223" height="3" alt="" title="" style="margin-left: 2px;" />
				<ul>
					<li><a href="#">Home</a>
						<ul>
							<li><a href="#">Subcategory 1</a></li>
							<li><a href="#">Subcategory 2</a></li>
						</ul>
					</li>
					<li><a href="#">Topic 1</a></li>
					<li><a href="#">Topic 2</a></li>
					<li><a href="#">Events</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Links</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
				<img src="images/navigation-hr-bottom.png" width="223" height="3" alt="" title="" style="margin-left: 2px;" />
			</div>
			<div id="qmed-content" class="span-9 last qmed-body">
				<div class="content">
					<h1>Welcome</h1>
					<p>Welcome to the Queen's Aesculapian Society web portal. This is a great resource for information on what our Society is all about, as well as the many ways in which you get involved with the leadership and advocacy opportunities that we provide on campus, and across the country.</p>

					<h1>News &amp; Updates</h1>
					
					<div class="qmed-news">
						<div class="news-item">
							<h1>Childhood Obesity Speaker - Dr. Catriona Syme</h1>
							<div>
								Posted in News on April 13th, 2010 by Ji Lee<br />
								Catriona is currently working at Sick Kid’s Hospital in Toronto where she is conducting the most comprehensive phenotyping of overweight youth in Canada. Her research is focused on ectopic fat deposition and cardiometabolic risk in overweight youth. Dr. Syme uses advanced imaging technology to study ectopic fat and muscle mitochondrial function during rest and exercise, and their associations with glucose and insulin dynamics, and autonomic function.<br />
								Read More...
							</div>
						</div>
						<div class="news-item">
							<h1>FMIG Speaker Series: Prison Health</h1>
							<div>
								Posted in Events on March 24th, 2010 by Jovana Martinovic<br />
								Queen's Family Medicine Interest Group Speaker Series: Prison Health<br />
								Dr. Margaret Robertson will be sharing her experiences of providing health care to the prison population.<br />
								Date: Monday, March 29, 2010<br />
								Time: 5:30 p.m.<br />
								Location: Botterell B147
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div id="qmed-footer" class="span-12 last">
				<div class="content right">
					<span class="copyright">Copyright &copy; 2010 Queen's Aesculapian Society. All Rights Reserved.</span>
				</div>

				<img id="footer-left" src="images/footer-left.png" width="9" height="46" alt="" title="" />
				<img id="footer-right" src="images/footer-right.png" width="9" height="46" alt="" title="" />
			</div>
		</div>
	</body>
</html>